@import "ui.scss";

body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    text-align: center;
}
.hero {
    background: url('../../images/find-an-agent-hero.png');
    background-size: cover;
    color: $highlight-text-color;
    height: 40em;
    header {
        max-width: 100em;
        margin: 0 auto;
        padding: 10px;

        img {
            float: left;
            width: 8em;
            height: 2em;
        }
        ul {
            float: right;
            li {
                float: left;
                margin: 0 .5em;
                padding: .5em 1em;
                border: 1px solid transparent;
                border-radius: 2px;
                &:last-child {
                    border-color: $color-w;
                }
            }
        }
        @include clearfix;
    }
    h1 {
        font-size: 3em;
        margin: 1em 0 0.5em 0;
    }
    h2 {
        font-size: 2em;
    }
    form {
        padding: 2em 0 4em 0;
        input[type="text"] {
            padding: 1em;
            border: 0;
            width: 20em;
            border-radius: 2px 0 0 2px;
            background: $bg-color;
            opacity: .3;
        }
        input[type="button"] {
            padding:1em;
            border:0;
            width:6em;
            border-radius: 0 2px 2px 0;
            background-color: lightgreen;
        }
    }
}

.numbers {
    width: 80%;
    margin: 0 auto;
    ul {
        position: relative;
        top: -1em;
        background: $bg-color;
        li {
            float: left;
            width: 25%;
            box-sizing:border-box;
            border-top: 1px solid $secondy-text-color;
            border-bottom: 1px solid $secondy-text-color;
            border-left: 1px solid $secondy-text-color;
            &:last-child {
                border-right: 1px solid $secondy-text-color;
            }
        }
        @include clearfix;
    }
}
