/* line 1, ../sass/base.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 3, ../sass/index.scss */
body {
  font-size: 62.5%;
  text-align: center;
}

/* line 7, ../sass/index.scss */
.hero {
  background: url("/images/find-an-agent-hero.png");
  background-size: cover;
  color: #fff;
}
/* line 11, ../sass/index.scss */
.hero header {
  max-width: 100em;
  margin: 0 auto;
}
/* line 15, ../sass/index.scss */
.hero header img {
  float: left;
  width: 8em;
  height: 2em;
}
/* line 20, ../sass/index.scss */
.hero header ul {
  float: right;
  list-style: none;
}
/* line 23, ../sass/index.scss */
.hero header ul li {
  float: left;
  margin: 0 .5em;
  padding: 1em;
}
/* line 7, ../sass/ui.scss */
.hero header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 31, ../sass/index.scss */
.hero h1 {
  font-size: 4em;
  margin: 1em 0 0.5em 0;
}
/* line 35, ../sass/index.scss */
.hero h2 {
  font-size: 2em;
}
/* line 38, ../sass/index.scss */
.hero form {
  padding: 2em 0 4em 0;
}
/* line 40, ../sass/index.scss */
.hero form input[type="text"] {
  padding: 1em;
  border: 0;
  width: 20em;
  border-radius: 2px 0 0 2px;
  background: #fff;
  opacity: .3;
}
/* line 48, ../sass/index.scss */
.hero form input[type="button"] {
  padding: 1em;
  border: 0;
  width: 6em;
  border-radius: 0 2px 2px 0;
  background-color: lightgreen;
}
